@model List<Library.Entities.Books>
@{
    ViewBag.Title = "Книги";
}

<h2>Книги</h2>

<div>
    <table class="table">
        @Html.ActionLink("Создать", "CreateOrEdit", "Books")
        <tr>
            <th>Наименование</th>
            <th>Автор</th>
            <th>Кол-во страниц</th>
            <th>Стоимость</th>
            <th></th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <th>@item.title</th>
                <th>@item.Authors.firstName @item.Authors.lastName</th>
                <th>@item.pages</th>
                <th>@item.price</th>
                <th>
                    @Html.ActionLink("Редактировать", "CreateOrEdit", "Books", new { id = item.id }, null)
                    @Html.ActionLink("Удалить", "Delete", "Books", new { id = item.id }, null)
                </th>

            </tr>
        }
    </table>
</div>