@model List<Library.Entities.CustomersWithBooks> 
@{
    ViewBag.Title = "Книги у посетителей";
}

<h2> @ViewBag.Title</h2>

<div>
    <table class="table">
        @Html.ActionLink("Выдать книгу", "GiveOutBook", "CustomersWithBooks") /
        @Html.ActionLink("Выгрузить должников", "ExportDebtors", "CustomersWithBooks")
        <tr>
            <th>Имя/Фамилия</th>
            <th>Книга</th>
            <th>Дата выдачи</th>
            <th>Срок возврата</th>
            <th>Дата возврата</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <th>@item.Customers.fullName</th>
                <th>@item.Books.title</th>
                <th>@item.DateCreation</th>
                <th>@item.Period</th>
                <th>@item.ReturnDate</th>
                <th>
                    @if (item.ReturnDate == null)
                {
                        @Html.ActionLink("Редактировать", "GiveOutBook", "CustomersWithBooks", new { id = item.Id }, new { @class = "btn btn-primary" })
                        
                        @Html.ActionLink("Вернуть книгу", "ReturnBook", "CustomersWithBooks", new { id = item.Id }, new { @class = "btn btn-danger" })
                    }
                </th>



            </tr>
        }
    </table>
</div>

