@model List<Library.Helpers.CustomersWithBooksHelper>
@{
    ViewBag.Title = "Книги у посетителей";
}

<h2> @ViewBag.Title</h2>

<div>
    <table class="table">
        @Html.ActionLink("Выдать книгу", "GiveOutBook", "CustomersWithBooks")
        <tr>
            <th>Имя/Фамилия</th>
            <th>Книга</th>
            <th>Дата выдачи</th>
            <th>Срок возврата</th>
            <th>Дата возврата</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <th>@item.customerFullName</th>
                <th>@item.bookTitle</th>
                <th>@item.dateCreation</th>
                <th>@item.period</th>
                <th>@item.returnDate</th>
                <th>
                @if (item.returnDate == null)
                {
                    @Html.ActionLink("Редактировать", "GiveOutBook", "CustomersWithBooks", new { id = item.id }, null)
                    @Html.ActionLink("Вернуть книгу", "ReturnBook", "CustomersWithBooks", new { id = item.id }, null)
                }
                </th>

            </tr>
        }
    </table>
</div>

