@model List<Library.Models.CustomersViewModel>

@{
    ViewBag.Title = "Посетители";
}

<h2>Посетители</h2>

<div>
    <table class="table" id="customersTable" >
        @Html.ActionLink("Создать", "CreateOrEdit", "Customers")
        <thead>
            <tr>
                <th>Имя/Фамилия</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr onclick="GetFiveBooks('@item.id')">
                    <th>@item.fullName</th>

                    <th>
                        @Html.ActionLink("Редактировать", "CreateOrEdit", "Customers", new { id = item.id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Удалить", "Delete", "Customers", new { id = item.id }, new { @class = "btn btn-danger" })
                    </th>

                </tr>
            }
        </tbody>
    </table>
    <div id="fiveBooks">
        @*@Html.Partial("_CustomerFiveBook");*@
    </div>
    @if (ViewBag.FiveBooks != null)
        {
            @*@Html.Partial("_CustomerFiveBook", ViewBag.FiveBooks);*@
        }
</div>